<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>letstalk</title>
    <script th:inline="javascript">
        var frontData = [[${frontData}]];
    </script>
</head>
<body>
    <h3>lets talk</h3>
    <div id="app"></div>
<!--script th:src="${isDevMode} ? 'http://localhost:8000/thinklist.js' : '/js/main.js'"></script-->
    <script th:src="'http://localhost:8000/main.js'"></script>
</body>
</html>